*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Courier New', Courier, monospace;
    background-color: #fff4f4;

}
canvas {
    border: 2px solid #000000;
    cursor:grab;
}
canvas:active {
    cursor: grabbing;
}
#signatureCanvas {
    margin: 0 2em;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.topdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: 20px;
}
input {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 10em;
    border: 1px solid #000000;
    cursor:pointer ;
}
button {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    width: 10em;
    cursor:pointer ;
}
#clearButton{
    background-color: tomato;
    color: white;
    border: 1px solid tomato;
}
#downloadButton{
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
#lastSavedButton{
    background-color: #008CBA;
    color: white;
    border: 1px solid #008CBA;
}